<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/home.css" />
  </head>
  <body>
    <div class="container">
      <!-- <div class="successAlert">
        <div><%= success %></div>
      </div> -->
      <div class="left-flexbox">
        <div class="code-input box">
          <form class="code-input-form">
            <div class="chat-bubble-flex">
              <img src="./images/speech_bubble.png" alt="" />
              <div>Start new chat</div>
            </div>
            <div class="code-submit-dropdown">
              <input
                class="pasted-code-input chat-code-input"
                type="text"
                name="room"
              />
              <button class="pasted-code-button chat-code-submit">
                Submit
              </button>
            </div>
          </form>
        </div>
        <div class="user-info box">
          <div class="user-details" id="<%= currentUser._id%>">
            <div class="name">
              <div class="user-image-container">
                <img src="<%= currentUser.pic %>" alt="" class="" />
              </div>
              <div class="user-name-flex">
                <img class="user-icon" src="./images/person_icon.png" alt="" />
                <div class="users-name"><%= currentUser.username %></div>
              </div>
              <div class="user-email-flex">
                <img class="envelope" src="./images/envelope.png" alt="" />
                <div class="email"><%= currentUser.email %></div>
              </div>
              <div class="logout"><a href="/logout">Logout</a></div>
            </div>
          </div>
        </div>
        <div class="active-chats">
          <div>Contacts</div>
          <!-- iterates through all rooms -->
          <% conversations.forEach((conversation,index) => {%>
          <%if(conversation.users.length>1) {%> <% for (let i=0;i<1;i++) {%>
          <%if(conversation.users[i].username==currentUser.username){ %>
          <li class="hidden-roomId" id="<%=conversation.roomName%>">
            <%= conversation.users[i+1].username %>
          </li>
          <%}else if(conversation.users[i+1].username ==currentUser.username){%>
          <li class="hidden-roomId" id="<%=conversation.roomName%>">
            <%= conversation.users[i].username %>
          </li>
          <% } else { %> <% i++ %> <% } %> <% } %> <% } %> <% })%>
        </div>
      </div>

      <div class="center-flexbox box">
        <!-- this chat-header may affect scroll functionality, must check -->
        <!-- if chat header removed normal chats don't work -->
        <div class="chat-header"></div>
        <div class="chat-window">
          <!-- populates based on conversation selected -->
        </div>
        <form class="chat-input">
          <input type="text" name="msg" class="message-input" />
          <button type="submit" class="message-submit-button">Send</button>
        </form>
      </div>
      <div class="right-flexbox">
        <div class="contact-info box">
          <div class="contact-details">
            <div class="contact-image-container">
              <img src="" alt="" class="contact-image" />
            </div>
            <div class="contact-name-flex">
              <div class="entered-chat-dot"></div>
              <img class="user-icon" src="./images/person_icon.png" alt="" />
              <div class="contact-name"></div>
            </div>
            <div class="contact-email-flex">
              <img class="envelope" src="./images/envelope.png" alt="" />
              <div class="contact-email"></div>
            </div>
          </div>
        </div>
        <div class="sideboard-right-bottom box">
          <div class="invite">
            <form>
              <div class="copy-code">
                <div class="copy-code-headline">Copy invite code</div>
                <button class="invite-button">
                  <img src="./images/link_white.png" alt="" />
                </button>
                <p>Share this code to create a new group chat</p>
                <img
                  class="paper-airplane"
                  src="./images/paper_airplane.png"
                  alt=""
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/home.js"></script>
  </body>
</html>
